@media screen and (max-width: 1399px) {
    .advantage-text {
        h3 {
            font-size: 32px;
        }
    }

    .advantage-text {
        padding: 35px;
    }

    .advantage-img__img {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
