<section class="advatnages">
    <div class="container">
        <div class="template-title">
            <h2>переваги роботи з Onebit</h2>
            <h5>Лише декілька причин, чому слід обрати Onebit</h5>
        </div>

        <div class="advantages-list">
            <div class="advantage-item">
                <div class="advantage-text">
                    <h3>індивідуальний підхід</h3>
                    <h6>Ми працюємо, піклуючись про кожного нашого клієнта</h6>
                </div>
                <div class="advantage-img">
                    <img src="./assets/img/advantage-1.png" alt="advantage">
                </div>
            </div>
            <div class="advantage-item">
                <div class="advantage-text">
                    <h3>тех.підтримка клієнтів 24/7</h3>
                    <h6>Напряму задавайте цікаві вам питання у будь-який час</h6>
                </div>
                <div class="advantage-img">
                    <img src="./assets/img/advantage-2.png" alt="advantage">
                </div>
            </div>
            <div class="advantage-item">
                <div class="advantage-text">
                    <h3>безпека операцій</h3>
                    <h6>Особисті дані клієнтів та історії операцій суворо конфіденційні</h6>
                  
                </div>
                <div class="advantage-img">
                    <img src="./assets/img/advantage-3.png" alt="advantage">
                </div>
            </div>
            <div class="advantage-item">
                <div class="advantage-text">
                    <h3>фіксований курс</h3>
                    <h6>Гарантована фіксація курсу після фінального підтвердження blockchain</h6>
                </div>
                <div class="advantage-img">
                    <img src="./assets/img/advantage-4.png" alt="advantage">
                </div>
            </div>
        </div>
    </div>
</section>