<section class="cityes">
    <div class="container">
        <div class="template-title case-2">
            <h2>де нас можна знайти</h2>
            <a href="#" class="cityes-link">дивитись усі міста</a>
        </div>
        <nav class="city-list">
            <a href="cities/kyiv.html" class="city-item" style="background-image: url(assets/img/animation-kyiv.png);">Київ</a>
            <a href="cities/kharkiv.html" class="city-item" style="background-image: url(assets/img/animation-kharkiv.png);">Харків</a>
            <a href="cities/lviv.html" class="city-item" style="background-image: url(assets/img/animation-lviv.png);">Львів</a>
            <a href="cities/odesa.html" class="city-item" style="background-image: url(assets/img/animation-odesa.png);">Одеса</a>
        </nav>
    </div>
</section>