<footer>
    <div class="container">
        <div class="column-sm">
            <a href="#" class="footer-logo">
				<img src="./assets/img/logo.svg" alt="logo">
			</a>
            <nav class="social-nav">
                <a href="#">
                    <i class="icon">
                        <svg>
                            <use href="#icon-instagram"></use>
                        </svg>
                    </i>
                </a>
                <a href="#">
                    <i class="icon">
                        <svg>
                            <use href="#icon-youtube"></use>
                        </svg>
                    </i>
                </a>
                <a href="#">
                    <i class="icon">
                        <svg>
                            <use href="#icon-telegram"></use>
                        </svg>
                    </i>
                </a>
            </nav>
        </div>
        <div class="column-lg">
            <nav class="footer-nav">
                <h5>послуги</h5>
                <a href="#">перекази по Україні</a>
                <a href="#">міжнародні перекази</a>
                <a href="#">swift перекази</a>
                <a href="#">криптоперекази</a>
                <a href="#">перекази юаня у Китай</a>
            </nav>
            <nav class="footer-nav">
                <h5>клієнтам</h5>
                <a href="#">як це працює</a>
                <a href="#">крипто-фіатні пари</a>
                <a href="#">де нас знайти</a>
                <a href="#">відгуки</a>
                <a href="#">часті питання</a>
                <a href="#">блог</a>
            </nav>
            <nav class="footer-nav d-lg-none">
                <h5>правова інформація</h5>
                <a href="#">політика конфіденційності</a>
                <a href="#">умови та положення</a>
            </nav>

            <address class="footer-nav">
                <h5>контакти</h5>
                <a href="mailto:info@crypto-money24.com">
                    <i class="icon">
                        <svg>
                            <use href="#icon-mail"></use>
                        </svg>
                    </i>
                    info@crypto-money24.com
                </a>
                <a href="tel:+380983580001">
                    <i class="icon">
                        <svg>
                            <use href="#icon-phone"></use>
                        </svg>
                    </i>
                    +38 (098) 358-00-01
                </a>
                <a href="tel:+380509740001">
                    <i class="icon">
                        <svg>
                            <use href="#icon-phone"></use>
                        </svg>
                    </i>
                    +38 (050) 974-00-01
                </a>

            </address>
        </div>
    </div>
    <div class="container copyright">
        <span>ⓒ 2022. Всі права захищені</span>
        <nav class="copyright-nav">
            <a href="#">політика конфіденційності</a>
            <a href="#">умови та положення</a>
        </nav>
    </div>
</footer>
