<section class="services">
    <div class="container">
        <div class="template-title">
            <h1 class="h2">користуйся повним спектром послуг onebit</h1>
            <h5>Послуги, у наданні яких ми справжні майстри своєї справи</h5>
        </div>
        <div class="services-list">
            <div class="srvices-item">
                <div class="services__text-box">
                    <h3 class="srvices-item__title">перекази по Україні</h3>
                    <h6 class="srvices-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для переказу коштів</h6>
                    <a href="#" class="srvices-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
                </div>
                <picture class="srvices-item__picture">
                    <source media="(min-width:576px)" srcset="/assets/img/services-1.png">
                    <img src="/assets/img/services-1-mobile.png" alt="servises">
            </picture>
            </div>
            <div class="srvices-item">
                <div class="services__text-box">
                    <h3 class="srvices-item__title">міжнародні перекази</h3>
                    <h6 class="srvices-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для міжнародного переказу коштів</h6>
                    <a href="#" class="srvices-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
                </div>
                <picture class="srvices-item__picture">
                    <source media="(min-width:576px)" srcset="/assets/img/services-2.png">
                    <img src="/assets/img/services-2-mobile.png" alt="servises">
            </picture>
            </div>
            <div class="srvices-item">
                <div class="services__text-box">
                    <h3 class="srvices-item__title">swift перекази</h3>
                    <h6 class="srvices-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для SWIFT/SEPA $/Є переказів</h6>
                    <a href="#" class="srvices-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
                </div>
                <picture class="srvices-item__picture">
                    <source media="(min-width:576px)" srcset="/assets/img/services-3.png">
                    <img src="/assets/img/services-3-mobile.png" alt="servises">
            </picture>
            </div>
            <div class="srvices-item">
                <div class="services__text-box">
                    <h3 class="srvices-item__title">обмін криптовалют</h3>
                    <h6 class="srvices-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для обміну криптовалют</h6>
                    <a href="#" class="srvices-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
                </div>
                <picture class="srvices-item__picture">
                    <source media="(min-width:576px)" srcset="/assets/img/services-4.png">
                    <img src="/assets/img/services-4-mobile.png" alt="servises">
            </picture>
            </div>
            <div class="srvices-item">
                <div class="services__text-box">
                    <h3 class="srvices-item__title">перекази юаня у Китай</h3>
                    <h6 class="srvices-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для оплати рахунків у Китай</h6>
                    <a href="#" class="srvices-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
                </div>
                <picture class="srvices-item__picture">
                    <source media="(min-width:576px)" srcset="/assets/img/services-5.png">
                    <img src="/assets/img/services-5-mobile.png" alt="servises">
            </picture>
            </div>
        </div>
    </div>
</section>
